{%extends 'base.html'%}

{%block content%}

<div>
    <table>
        <tr>
            <td><h3>{{cocktail.name}}</h3></td>
            <td><h3>ingredients</h3></td>
        </tr>
        <tr>
            <td><img src="{{cocktail.img_url}}" alt="Img for {{cocktail.name}}" ></td>
            <td>
                <div>
                    <div>
                    <ul>
                        {%for ingredient in cocktail.ingredients%}
                        <li>{{ingredient.ing_name}}</li>
                        {%endfor%}
                    </div>
                            
                    <div>
                        {%for measurements in measurement%}
                        <li >{{measurements.measurement}}</li>
                        {%endfor%}
                    </div>
                </ul>
            </td>

        </tr>
        <tr>
            <td><h3>Instructions</h3></td>
        </tr>
        <tr>
            <td>
                    <p>{{cocktail.instructions}}</p>
    
            </td>
        </tr>

    </table>




    <div class="btn-group mt-1 mb-2">
    <form action="/">      
    <button  class="btn btn-blue mt-3 me-2">Go Back</button>
    </form> 
    {%if session['curr_user']%}
    <form action="/cocktail/{{cocktail.id}}/like">
    <button class="btn btn-danger mt-3 ">Favorite</button>       
    </form> 
    {%endif%}
    </div>


<h3 class="my-2">User Reviews</h3>
{%if session['curr_user']%}


<form method="post" class="center">
    {{form.hidden_tag()}}
        {%for field in form
        if field.widget.input_type != 'hidden'%}
        {%endfor%}
    <div class="form-group">
        {{form.text.label}}
        <br>
        {{form.text()}}
    </div>

</form>

{%endif%}
{%endblock%}