{%extends 'base.html'%}

{%block content%}

<div>
    <table>
        <tr>
            <td><h3>{{cocktail.name}}</h3></td>
            <td><h3>ingredients</h3></td>
        </tr>
        <tr>
            <td><img src="{{cocktail.img_url}}" alt="Img for {{cocktail.name}}" ></td>
            <td>
                <div>
                    <div>
                    <ul>
                        {%for ingredient in cocktail.ingredients%}
                        <li>{{ingredient.ing_name}}</li>
                        {%endfor%}
                    </div>
                            
                    <div>
                        {%for measurements in measurement%}
                        <li >{{measurements.measurement}}</li>
                        {%endfor%}
                    </div>
                </ul>
            </td>

        </tr>
        <tr>
            <td><h3>Instructions</h3></td>
        </tr>
        <tr>
            <td>
                    <p>{{cocktail.instructions}}</p>
    
            </td>
        </tr>

    </table>

    <div class="btn-group mt-1 mb-2">
    <form action="/">      
    <button  class="btn btn-blue mt-3 me-2">Go Back</button>
    </form> 
    {%if session['curr_user']%}
    <form action="/cocktail/{{cocktail.id}}/fav">
    <button class="btn btn-danger mt-3 ">Favorite</button>       
    </form> 
    {%endif%}
    </div>


{%endblock%}